{% extends 'base.html' %}
{% load spider_tags %}
{% load i18n %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col col-6">
                <h3>{% trans "Slow" %}</h3>
                {% slow_feeditems %}
                <h3>{% trans "Normal" %}</h3>
                {% normal_feeditems %}
            </div>
            <div class="col col-6">
                <h3>{% trans "Fast" %}</h3>
                {% fast_feeditems %}
            </div>
        </div>
    </div>
{% endblock %}