{% load i18n %}
<div class="card">
    {% if items|length > 0 %}
        <ul class="list-group">
            {% for item in items %}
                <li class="list-group-item">
                    <div class="small-intro">{{ item.newsfeed.slug|default:item.newsfeed.description|upper }}
                        - {{ item.published|date:"j E Y H:i" }}</div>
                    {{ item.title }}

                    <a target="_blank" href="{{ item.url }}">{% trans "read" %}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>